server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      # CHANGE THIS TO HTTPS becaues we enabled SSL for the Eureka server. Also, make sure to use the correct port (8761) and hostname (localhost).
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/